/*  Fonts
    -----
    font-family: 'Lora', serif;
    font-family: 'Ubuntu', sans-serif;
 */

/*navigation - layout*/
body {
    font-family: 'Ubuntu', sans-serif;
    color:rgb(15, 16, 18);
}

/* for all images */

img {
    display: block;
    max-width: 98%;
    margin: 1em auto;
    
}
.current-page {
    border-bottom: 2px solid grey;

}
/* when the mouse hover, add an underline*/
.current-page:hover
.current-page:focus {
    border-bottom: 2px solid grey;
    padding-bottom: 0.5em;
}

h1,
h2,
h3 {
    color: rgb(148, 6, 6);
}

h1,
h2,
h3,
p {
    
    padding: 0.2em 0;
    margin: 0.2em 0;
}

h1 {
    font-family: 'Lora', serif;
}

/* a statement under the header */
.subtitle {
   font-size: 0.8rem;
   margin-top: -0.7em;
   padding: 0em;
   color: darkblue;
   
}

header {
    max-width: 880px;
    background-color: lightgrey;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

ul {
       min-height: 6em;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       padding: 0;
}

ul li {
    list-style: none;
}

ul a {
   text-decoration: none;
}

a {
    color: rgb(15, 16, 18);
}

a:hover,
a:focus {
    color: rgb(15, 79, 209);
}

@media (min-width: 675px) {
   header {
       
       flex-direction: row;
       justify-content: space-between;
       padding-left: 1em;
       text-align: left;
   }
   
   ul {
       
       min-width: 15em;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       margin: 0 1em;
   }

}

/* body - layout */

.container {
   
    max-width: 100%;
    margin: 0 auto;
}

.container-flex {

    display: flex;
    flex-direction: column;

}

.article-featured {
    
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid grey;
    padding-bottom: 1em;
}

.article-featured .article-image {
    order: 1;
}

.article-featured .article-info {
    order: 2;
}

.article-featured .article-title {
    order: 3;
}

.article-featured .article-body {
    order: 4;
}

.article-featured .article-read-more {
    order: 5;
}

.article-recent {
   
    max-width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}



.article-recent-main {

  order: 1;
}

.article-recent-secondary {
  order: -1;
}

.sidebar {
    max-width: 80%;
    margin: 1em auto;
}

.sidebar-widget {
    border: 10px solid rgb(156, 153, 153);
    margin-bottom: 2em;
    padding: 1em;
}

.widget-recent-post {

    border-bottom: 2px solid rgb(156, 153, 153);
}

.widget-recent-post:last-child {
    border-bottom: none;
}

@media (min-width: 736px) {
    
    .container {
        
        max-width: 800px; 
       
        margin: 2em auto;
        padding: 0 3em;
    }
    .container-flex {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
    }

    .article-recent {
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
       
    }

    .article-recent-main {

        
        order: 2;
        width: 70%;
        padding: 0;
        margin: 0;
       

        
     
        
    }

    .article-recent-secondary {
        order: 1;
        width: 25%;
        
    }

    main {
    
        max-width: 80%;
        padding: 0em 2em;
        
    }

    aside {
        
        max-width: 20%;

    }

    .article-image-right {
        width: 100%;
        height: 250px;
        object-fit: cover;
        
    }

    .article-image-left {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: left;
        
    }

}





























/*
.container {
    max-width: 400px;
    margin: 0 auto;

}

.article-featured {
    max-width: 100%;
    
}

.article-recent {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1em;
    
}

.sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-widget {
    border: 5px solid grey;
    margin: 1em auto;
    
    padding: 1em;
}

@media (min-width: 675px) {
    .container {
        min-width: 100%;
    }
    .container-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    main {
        width: 70%;
        margin: auto;
    }

    aside {
        width: 25%;
        margin: auto;
    }

    .article-recent {
        flex-direction: row;
        justify-content: space-between;
    }

    .article-recent-main {
        width: 70%;
        order: 2;
    }

    .article-recent-secondary {
        width: 25%;
        order: 1;
    }



    
}





